* {
    margin: 0;
    padding: 0;
}

.btn:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    color: #fff;
}

.alata {
    font-family: 'Alata', sans-serif;
}
.uppercase{
    text-transform: uppercase;
}



.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

@media (max-width: 480px) {
    
    body {
        background-color: #f6f6f6;
        font-family: 'Josefin Sans', sans-serif;
    }

    section img {
        height: 100%;
        width: 100%;
    }
    
    section {
        text-align: center;
        padding: 0 10px;
        height: auto;
    }

    .container {
        margin: 100px 0;
    }

    #hero-banner {
        color: #fff;
        height: auto;
        position: relative;
    }

    .hero-image{
        z-index: -1;
        position: absolute;
        height: 100%;
        width: 100%;
    }

    #nav-bar {
        position: relative;
        padding: 5% 0;
    }

    .visible-mobile {
        position: relative;
        display: flex;
        justify-content: space-between;
        z-index: 1000;
    }

    .toggle-btn {
        color: #fff;
        font-size: 2rem;
    }

    .navbar-logo{
        margin-top: 20px;
        height: auto;
    }


    .navbar-collapse {
        visibility: hidden;
        height: 100vh;
        width: 100vw;
        position: absolute;
        padding: 10% 0;
        top: 0;
        left: 0;
        display: flex;
        background-color: #000000;
    }

    .navbar-collapse .navlink {
        font-size: 35px;
        margin-bottom: 20px;
    }

    .navlink {
        color: #fff;
        margin: 20px 10px;
        font-family: 'Josefin Sans', sans-serif;
        text-transform: uppercase;
    }

    #hero-container {
        padding: 0 20px 100px ;
    }

    #hero-text{
        border: 1px solid #fff;
        padding: 5%;
        margin: 50px 20px;
        font-size: 2.5rem;
    }
   
    /* Introduction section  */
    .floating {
        margin: 50px 0 0;
        padding: 0 20px;
    }
    
    .body-heading {
        font-size: 2.2rem;
    }

    /* Creation section  */

    .creation-box {
        /* background: rgb(0,0,0);
        background: linear-gradient(135deg, rgba(0,0,0,0.7486344879748774) 2%, rgba(9,9,121,0) 100%, rgba(0,212,255,1) 100%); */
        text-align: left;
        position: relative;
        height: 150px;
        margin: 20px 0;
        width: 100%;
    }

    .grid-text {
        position: absolute;
        width: 150px;
        left: 30px;
        bottom: 25px;
        color: #fff;
    }

    .overlay{
        position:relative;
        display:inline-block;
      }

      .overlay:after {
        content:'';
        position:absolute;
        left:0; top:0;
        width:100%; height:100%;
        display:inline-block;
        background: -moz-linear-gradient(right, rgba(0,47,75,0.5) 0%, rgba(0, 0, 0, 0.7) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0, 0, 0, 0.5)), color-stop(100%,rgba(0,47,75,0.7))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(right, rgba(0,47,75,0.5) 0%,rgba(0, 0, 0, 0.7) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(right, rgba(0,47,75,0.5) 0%,rgba(0, 0, 0, 0.7) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(right, rgba(0,47,75,0.5) 0%,rgba(0, 0, 0, 0.7) 100%); /* IE10+ */
        background: linear-gradient(to left, rgba(0,47,75,0.5) 0%,rgba(0, 0, 0, 0.7) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002f4b', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
      }
      .img-gradient img{
        display:block;
      }
}